<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AUTHORIZATION</title>
  </head>
  <body>
    <script src="public/script.js"></script>
    <div class="form-wrap">
        <div class="profile">
          <h1>Авторизация</h1>
        </div>
        <form action="/authorization" method="post">
          <div>
            <label for="userName"><p>Имя Пользователя</p></label>
            <input type="text" id="login" name="userName" required>
          </div>
          <div>
            <label for="password"><p>Введите пароль</p></label>
            <input type="password" id="password1" name="password" required>
          </div>
         <input type="submit" value="SIGN IN"></input> 

        </form> 
 <div class="reg"><p>Если у вас нет аккаунта, перейдите на страницу <a href="/registration">регистрации</a></p></div>
      </div>
  </body>
</html>
