<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<script src="routes/routes.js"></script>
<link rel="stylesheet" href="/public/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap"
      rel="stylesheet"
    />

<title>TASK</title>

</head>
<body>
        <div class="header_logo">
          <p><span class="alex">𝕬𝖑𝖊𝖝</span>𝖅𝖊𝖓𝖊𝖛𝖎𝖈𝖍</p>
        </div>
<h1>Выберите операцию над данными</h1>
<div class='main_menu'>
<a href="/insert"><input type="submit" value="Insert" ></a>
<a href="/delete"><input type="submit" value="Delete" ></a>
<a href="/select"><input type="submit" value="Select" ></a>
<a href="/update"><input type="submit" value="Update" ></a>
</div>
<form action="/logout" method="get">
<div class="back" ><input type="submit" value="Logout"></div>
</form>
</body>
</html>