<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<script src="routes/routes.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>TASK</title>

</head>
<body>
<h1>Выберите операцию над данными</h1>
<a href="/insert"><input type="submit" value="Insert" ></a>
<a href="/delete"><input type="submit" value="Delete" ></a>
<a href="/select"><input type="submit" value="Select" ></a>
<a href="/update"><input type="submit" value="Update" ></a>

<form action="/logout" method="get">
<input type="submit" value="logout">
</form>
</body>
</html>